:root {
    --color-blue-medium: #8fe2e4;
    --color-purple: #632ce7;
    --color-gray: #ccc;
    --color-gray-medium: #e86316;
    --color-yellow: #fac32c;
  }

/* Cabecera ------------------------------------------- */


.photo-frame {
    font-size: 16px;
}

.photo-frame::before, .photo-frame::after {
    content:"";
    display: block;
    width: var(--box-size);
    height: var(--box-size);
    position: absolute;
    z-index: -10;
    animation: turnZ 7s linear infinite ;
}

.photo-frame::before {
   --box-size: 3em;
   background-image: radial-gradient(var(--color-blue-medium) 50%, var(--color-purple)50%);
   top: calc(99% - ( var(--box-size) / 2));
   right: calc(99% - ( var(--box-size) / 2)); ;
}

.photo-frame::after {
    --box-size: 5em;
    background: linear-gradient(45deg, var(--color-gray-medium) 45%, transparent 45%), radial-gradient(var(--color-purple)30%, var(--color-yellow)30% 70%, var(--color-gray-medium)70%, transparent 70%);    
    bottom: calc(98% - ( var(--box-size) / 2));
    left:  calc(99% - ( var(--box-size) / 2)); ;
 }

 @keyframes turnZ {
    to {
        transform:rotate(1turn) ;
 }
}

.header-main {
  margin-top: 15%;
      
}



.tarjeta{
  border-top-left-radius:  0.375rem;
  border-bottom-left-radius:0.375rem;
  
}

@media (max-width: 768px) {
  .espacio{
    margin-top: 10%;
  }

  .photo-frame {
  font-size: 11px;} 

  .header-main {
    margin-top: 25%;
           
  }

   

 .tarjeta{
  border-bottom-left-radius:0;
  border-top-right-radius:0.375rem;
  }
  
 } 
 




/* Skills ------------------------------------------- */

.mh-skills .mh-profesional-skills  {  
  color:white;

}

.mh-skills .mh-profesional-skills h3{
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 60px;

}

.mh-professional-skills{  
  color:white;
}

.mh-professional-skills h3 {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 60px;
}

.mh-professional-progress li {
  display: inline-block;
  margin: 0 auto;
  float: none;
  width: 48%;
  margin-bottom: 30px;
  text-align: center;
}

.mh-progress{
  margin-bottom: 10px;
  font: 900 1.14285/1 Cinzerl, cursive;
  color: white;
}

.mh-progress .progressbar-text {
  color: inherit !important;
  font-family: 'Poppins', sans-serif;
}

.progress.porgress-line {
  height: 10px;
  margin-right: 60px;
}

.progress.porgress-line .progressbar-text {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 60px;
  transform: translateY(-35%);
  text-align: center;
  font-family:'Poppins', sans-serif ;
}

.mh-progress.mh-progress-circle {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.mh-progress path:nth-child(1) {
  stroke: rgba(0,0,0,0.7);
}

.mh-progress path:nth-child(2) {
  stroke: #ffc107 !important;
}

.candidatos{
  position: relative;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
}

.candidatos .parcial {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.candidatos .parcial .info{
  position: relative;
  font-family: 'Poppins', sans-serif ;
}

.candidatos .parcial .info .nombre{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.9;
  font-family: 'Poppins', sans-serif ;
}

.candidatos .parcial .info .porcentaje-num{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  font-weight: normal;
}

.candidatos .parcial .barra-de-progreso {
  position: relative;
  width: 100%;
  height: 7px;
  margin: 39px 0 2px;
  border-radius: 10px;
  background:rgba(0,0,0,0.5); ;
}

.candidatos .parcial .animacion{
  position: absolute;
  top: 0;
  left: 0;
  height: 7px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;  
  border-bottom-right-radius: 10px;
  background: #ffc107 ;
  -webkit-transition: 1.5s all;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: animationProgress;
  font-family:'Poppins', sans-serif ;
} 


@keyframes animationProgress {
  from{
    width: 0;
  }
}

/* Skills  -------------------------------------------*/

