:root {
    --color-blue-medium: #8fe2e4;
    --color-purple: #632ce7;
    --color-gray: #ccc;
    --color-gray-medium: #e86316;
    --color-yellow: #fac32c;
  }




.photo-frame {
    font-size: 16px;
}

.photo-frame::before, .photo-frame::after {
    content:"";
    display: block;
    width: var(--box-size);
    height: var(--box-size);
    position: absolute;
    z-index: -10;
    animation: turnZ 7s linear infinite ;
}

.photo-frame::before {
   --box-size: 3em;
   background-image: radial-gradient(var(--color-blue-medium) 50%, var(--color-purple)50%);
   top: calc(99% - ( var(--box-size) / 2));
   right: calc(99% - ( var(--box-size) / 2)); ;
}

.photo-frame::after {
    --box-size: 5em;
    background: linear-gradient(45deg, var(--color-gray-medium) 45%, transparent 45%), radial-gradient(var(--color-purple)30%, var(--color-yellow)30% 70%, var(--color-gray-medium)70%, transparent 70%);    
    bottom: calc(98% - ( var(--box-size) / 2));
    left:  calc(99% - ( var(--box-size) / 2)); ;
 }

 @keyframes turnZ {
    to {
        transform:rotate(1turn) ;
 }
}

.header-main {
  margin-top: 15%;
      
}

.titulo-portafolio{
  align-items: flex-end;
}



.tarjeta{
  border-top-left-radius:  0.375rem;
  border-bottom-left-radius:0.375rem;
  
}

@media (max-width: 768px) {
  .espacio{
    margin-top: 10%;
  }

  .photo-frame {
  font-size: 11px;} 

  .header-main {
    margin-top: 25%;
           
  }

  .titulo-portafolio{
    text-align: center;
  }

  

 .tarjeta{
  border-bottom-left-radius:0;
  border-top-right-radius:0.375rem;
  }
  
 } 

 .icon-formacion{
  --box-size: 70px;
  width: var(--box-size);
  height:var(--box-size);
  padding: 10px;
 }

 .portafolio-item > img {
  transition: 0.4s transform;
}

.portafolio-item:hover > img {
  transform: scale(0.96);

}
  
 


